[submodule "rwa_ustb/lib/forge-std"]
	path = rwa_ustb/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "rwa_ustd/lib/forge-std"]
	path = rwa_ustd/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "rwa_ustd/lib/chainlink-brownie-contracts"]
	path = rwa_ustd/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "rwa_ustd/lib/openzeppelin-contracts"]
	path = rwa_ustd/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "lib/openzeppelin-contracts-upgradeable"]
	path = lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "contracts/lib/openzeppelin-contracts-upgradeable"]
	path = contracts/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "contracts/lib/openzeppelin-contracts"]
	path = contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "contracts/lib/erc4626-tests"]
	path = contracts/lib/erc4626-tests
	url = https://github.com/a16z/erc4626-tests
