---
---
<template>
    <div class="flex justify-between items-center mb-2">
      <span class="text-sm text-gray-500">Max. Slippage</span>
      <span class="text-sm text-black font-bold">0.1 %</span>
    </div>
    <div class="flex justify-between items-center mb-4">
      <span class="text-sm text-gray-500">Exchange rate</span>
      <span class="text-sm text-black font-bold">1 USDT = 1 TBILL</span>
    </div>
    <div class="flex justify-between items-center mb-4">
      <span class="text-sm text-gray-500">Price Impact</span>
      <span class="text-sm text-black font-bold">0.00%</span>
    </div>
    <div class="flex justify-between items-center mb-4">
      <span class="text-sm text-gray-500">Trade Routed Through</span>
      <span class="text-sm text-black font-bold">Curve</span>
    </div>
    <div class="text-sm text-gray-500">
      *A whitelisted address is mandatory
    </div>
  </template>
  