---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "";
---

<BaseLayout pageTitle={pageTitle}>
  <section class="bg-gray-100 text-gray-900 py-12">
    <div class="container mx-auto text-center mb-8">
      <h1 class="text-4xl font-bold mb-4">About Us</h1>
      <p class="text-lg leading-8 max-w-3xl mx-auto">
        At TokenRWA, we specialize in revolutionizing the world of finance through blockchain-powered asset tokenization. Our flagship product focuses on tokenizing US bonds, bringing traditional financial assets into the digital realm. By leveraging blockchain technology, we offer a secure, transparent, and efficient platform for individuals and institutions to tokenize US bonds, unlocking liquidity and enabling seamless investment opportunities.
      </p>
      <p class="text-lg leading-8 max-w-3xl mx-auto mt-4">
        Driven by innovation and a commitment to excellence, our team combines technical expertise with deep industry knowledge to deliver cutting-edge solutions. We're dedicated to democratizing access to investment opportunities, fostering financial inclusion, and paving the way for a more accessible and efficient financial future.
      </p>
    </div>
  </section>

  <section class="bg-white text-gray-900 py-12">
    <div class="container mx-auto text-center mb-8">
      <h2 class="text-3xl font-bold mb-4">Our Mission</h2>
      <p class="text-lg leading-8 max-w-2xl mx-auto">
        "At TokenRWA, our mission is to revolutionize the global financial landscape by providing seamless, secure, and transparent tokenization solutions for real-world assets. We empower individuals and institutions to unlock the value of their assets, democratize access to investment opportunities, and foster financial inclusion in the digital economy."
      </p>
    </div>
  </section>

  <section class="bg-gray-100 text-gray-900 py-12">
    <div class="container mx-auto text-center mb-8">
      <h2 class="text-3xl font-bold mb-4">Our Vision</h2>
      <p class="text-lg leading-8 max-w-2xl mx-auto">
        "Our vision at TokenRWA is to be the leading catalyst in the transition towards a digitized, decentralized financial ecosystem. We envision a future where traditional barriers to asset ownership and investment are dissolved, where tokenization enhances liquidity, efficiency, and accessibility across all asset classes, and where the blockchain ecosystem thrives as a platform for innovation and empowerment."
      </p>
    </div>
  </section>
</BaseLayout>
