---
import BaseLayout from "../layouts/BaseLayout.astro";

const props = Astro.props;

const pageTitle = "";
---

<BaseLayout pageTitle={pageTitle}>

<div class="h-screen">
    Blog Page
</div>

</BaseLayout>
