---
import BaseLayout from "../layouts/BaseLayout.astro";

import DisplayAvailableUSD from "../components/swapComponents/DisplayAvailableUSD";
import BuyTBills from "../components/swapComponents/TbillBuy";


const pageTitle = "";
---

<BaseLayout pageTitle={pageTitle}>

  <div class="flex flex-col  my-28 items-center">
  


    <DisplayAvailableUSD client:load />
    <div><BuyTBills client:load /> </div>



  </div>
</BaseLayout>
