---
---
<div class="nav-links hidden md:flex flex-col md:flex-row">
  <a href="/">Home</a>
  <a href="/tbill">Buy</a>
  <!-- <a href="/swap/">Swap</a> -->
  <!-- <a href="/mint/">Mint</a> -->
  <a href="/redeem/">Redeem</a>
  <a href="/aboutus/">AboutUs</a>
</div>
